apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-project
  labels:
    app: gitops-project
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitops-project
  template:
    metadata:
      labels:
        app: gitops-project
    spec:
      containers:
      - name: web-container
        image: gitops-project:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"
